$black: #111111;
$white: #fff;
$point-color: #962D2B;
$color-gray: #F4F4F5;
$text-gray: #999999;
$main-color: #FF5160;
$light-pink: #F1D9DD;
$second-pink: #EC8383;

$width-wide: 100%;
$width-half: 50%;

$break-small: 320px;
$break-large: 1024px;